.git
.github
.checkpoint-karpathy
.env
temp
data
**/node_modules
container/**/test
container/**/test/**
container/**/tests
container/**/tests/**
container/test
workspace
README.md
README_CN.md
docker-compose.yaml
